.feedback {
    padding-top: 80px;
    &_laminant {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #2C2D2E;
        margin-bottom: 16px;
        span {
            color: #EF7C00;
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #2C2D2E;
        max-width: 400px;
        margin-bottom: 36px;
    }
    &__block {
        background: url('../src/image/feedback/banner.png');
        padding: 24px 20px 36px;
        background-size: cover;
        box-shadow: 0px 4px 32px rgba(0, 16, 61, 0.16);
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    textarea {
        width: 446px ;
        height: 80px ;
        outline: none;
        resize: none;
        margin-bottom: 12px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 16, 61, 0.12);
        border-radius: 4px;
    }
    &__row {
        display: flex;
        gap: 12px;
        &-text {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                left: 0;
                color: #ffffff;
                background: url(../src/image/feedback/user.svg) no-repeat;
                background-size: 39px;
                background-position: center;
            }
        }
        &-phone {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                top: 0;
                left: 0;
                color: #ffffff;
                background: url(../src/image/feedback/phone.svg) no-repeat;
                background-size: 39px;
                background-position: center;
            }
        }
    }
    form input[type=text],
    form input[type=number] {
        width: 217px;
        height: 40px;
        margin-bottom: 12px;
        padding: 10px 0 10px 51px;
        outline: none;
        overflow: hidden;
        background: #FFFFFF;
        border: 1px solid rgba(0, 16, 61, 0.12);
        border-radius: 4px;
    }
    &__btn {
        display: inline-block;
        padding: 10px 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        background: #EF7C00;
        border-radius: 4px;
        // margin-bottom: 36px;
    }
}
