.home {
    .slide-item {
        padding: 160px 0 155px;
        &_first {
            background: url('../src/image/home/bg1\ 1.jpg') center/cover;
        }
        &_second {
            background: url('../src/image/home/bg2.jpg') center/cover;
        }
        &_third {
            background: url('../src/image/home/bg3.jpg') center/cover;
        }
        &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            align-items: center;
            color: #2C2D2E;
            margin-bottom: 16px;
        }
        &__subtitle {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            align-items: center;
            color: #2C2D2E;
            margin-bottom: 17px;
        }
        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #2C2D2E;
            margin-bottom: 17px;
            max-width: 582px;
        }
        &__btn {
            padding: 10px 20px;
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            background: #EF7C00;
            border-radius: 4px;
        }
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
        position: absolute;
        bottom: 40px;
        left: 116px;
    }
    .owl-theme .owl-dots .owl-dot span {
        background: none;
        border: 2px solid #EF7C00;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #EF7C00;
    }
}