.team {
    padding: 80px 0 90px;
    .title {
        margin-bottom: 32px;
        span {
            color: #EF7C00;
        }
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: #2C2D2E;
        margin: 12px 0 4px;
        min-width: 203px;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #919399;
        margin-bottom: 16px;
        min-width: 203px;
    }
    &__phone {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #2C2D2E;
        min-width: 203px;
        margin-bottom: 8px;
    }
    &__mail {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #2C2D2E;
        min-width: 203px;
        margin-bottom: 52px;
    }
    &__btn {
        text-align: center;
        &-link {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            color: #EF7C00;
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #EF7C00;
            border-radius: 4px;
        }
    }
    .row {
        gap: 70px;
    }
}